body, html {
    margin: 0;
}
.PatientListWrapper {
    display: flex;
    height: 97vh;
    width: 100%;
    font-size: 14px;
    color: #4f4f4f;
}

.patientInfoWrapper {
    border: 1px solid #3398cc;
    height: 100%;
    margin-left: 1em;
    margin-top: 1em;
}

.patientListWrapper {
    border: 1px solid #e2e2e2;
    height: 100%;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}

.emptyPatientInfoHeader {
    display: flex;
    width: 100%;
    height: 2em;
    justify-content: flex-end;
    margin-top: 1em;
}

.cursorStyle {
    cursor: pointer;
}

.cursorStyle:hover {
    color: #3398cc;
}

.patientInfoHeader {
    display: flex;
    background-color: #3398cc;
    color: #fefefe;
    width: 100%;
    height: 2em;
    justify-content: space-between;
}

.patientInfoHeader span {
    text-decoration: none;
    margin-top: 1em;
}

.greyFont {
    color: #b3b3b3;
}

.patientListHeader {
    width: 100%;
    height: 2em;
    background-color: #f9f9f9;
}

.patientListHeader > {
    background-color: #b3b3b3;
}

.patientListHeader > span:hover {
    border-bottom: 2px solid #3398cc;
}

.patientListHeader > span {
    margin-left: 1em;
    text-decoration: none;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table a {
    margin-left: 4px;
}

.patient {
    border-bottom: 1px solid #e2e2e2;
}

.patient :hover {
    background-color: #e2e2e2;
    border-left: 2px solid #3398cc;
}

.hidePatientInfo {
    display: none;
}
